.chrome {
  background-image: url(../img/sprite-02873430388787239.png);
  background-position: 0px 0px;
  width: 64px;
  height: 64px; }

.github-logo {
  background-image: url(../img/sprite-02873430388787239.png);
  background-position: -68px 0px;
  width: 64px;
  height: 64px; }

.placeholder {
  background-image: url(../img/sprite-02873430388787239.png);
  background-position: 0px -68px;
  width: 64px;
  height: 64px; }

@-ms-viewport {
  width: device-width; }

.page {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  min-width: 320px;
  min-height: 100%; }
  .page__inner {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .page__content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .page__footer-wrapper {
    -ms-flex-negative: 0;
        flex-shrink: 0; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  background-color: #fff;
  margin: 0;
  min-height: 100%;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #000000; }

[tabindex='-1']:focus {
  outline: none !important; }

[role='button'] {
  cursor: pointer; }

input[type='search'] {
  -webkit-appearance: textfield; }

a,
button,
[role='button'],
input,
label,
select,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

a svg,
button svg {
  pointer-events: none; }

img {
  max-width: 100%;
  height: auto; }

p {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4 {
  margin: 0;
  font-family: Oswald, sans-serif; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #000; }

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #000; }

input::placeholder,
textarea::placeholder {
  color: #000; }

.button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 280px;
  padding: 0;
  padding-top: 7px;
  padding-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  border: none;
  background-color: #DC1635;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  font-weight: 500; }

.header {
  height: 80px; }

.slider {
  padding-bottom: 40px;
  margin-bottom: 37px;
  background-color: rgba(243, 243, 243, 0.5); }
  .slider__img img {
    min-height: 230px; }
  .slider__wrapper {
    padding: 35px 20px 40px; }
  .slider__header {
    margin-bottom: 15px;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase; }
  .slider__lead {
    margin-bottom: 30px; }
  .slider .slick-dots {
    bottom: 28px; }
  .slider .slick-dots li,
  .slider .slick-dots li button {
    width: 7px; }
  .slider .slick-dots li button:before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #DCDCDC;
    opacity: 1; }
  .slider .slick-dots li.slick-active button:before {
    background-color: #DC1635;
    opacity: 1; }

.catalog {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px; }
  .catalog__header {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 600; }
  .catalog__list {
    padding: 0;
    margin: 0;
    list-style: none; }
  .catalog__item {
    position: relative;
    margin-bottom: 10px;
    padding: 14px 0;
    background-color: #F9F9F9; }
  .catalog__logo {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: 20px; }
    .catalog__logo--gaika {
      height: 30px; }
  .catalog__title {
    padding-left: 80px;
    font-family: Oswald, sans-serif;
    font-size: 15px;
    line-height: 40px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none; }

.information {
  padding: 50px 20px 60px; }
  .information__header {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase; }
  .information__img img {
    margin-bottom: 10px; }
  .information__lead {
    margin-bottom: 35px; }
    .information__lead p {
      margin-bottom: 20px; }

.form-consult {
  padding: 40px 20px 50px;
  background-color: rgba(32, 94, 161, 0.1); }
  .form-consult__header {
    margin-bottom: 6px;
    font-size: 15px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase; }
  .form-consult__lead {
    margin-bottom: 23px; }
  .form-consult__item {
    margin-bottom: 20px; }
    .form-consult__item::last-of-type {
      margin-bottom: 26px; }
  .form-consult__name, .form-consult__phone {
    width: 100%;
    padding: 4px 10px 6px 6px;
    font-size: 13px;
    line-height: 28px; }

.form-request {
  padding: 37px 20px 60px;
  background-color: #F9F9F9; }
  .form-request input::-webkit-input-placeholder,
  .form-request textarea::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.7); }
  .form-request input::-ms-input-placeholder,
  .form-request textarea::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.7); }
  .form-request input::placeholder,
  .form-request textarea::placeholder {
    color: rgba(0, 0, 0, 0.7); }
  .form-request__header {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase; }
  .form-request__item {
    margin-bottom: 20px; }
    .form-request__item:nth-of-type(3) {
      margin-bottom: 4px; }
    .form-request__item:last-of-type {
      margin-bottom: 32px; }
  .form-request__name, .form-request__mail {
    width: 100%;
    padding: 6px 14px 5px 14px;
    font-size: 13px;
    line-height: 28px; }
  .form-request__message {
    width: 100%;
    height: 120px;
    resize: none;
    padding-left: 15px;
    font-size: 13px;
    line-height: 28px; }
  .form-request__clip {
    margin-right: 3px; }
  .form-request__text {
    font-size: 13px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.7); }
  .form-request__check {
    display: none; }
  .form-request__agree {
    position: relative;
    display: block;
    padding-left: 30px;
    font-size: 10px;
    line-height: 10px;
    color: #4D4D4D; }
    .form-request__agree a {
      color: #4D4D4D; }
    .form-request__agree::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      background-color: #fff; }
  .form-request__check:checked + .form-request__agree::before {
    background-color: #DC1635; }
  .form-request__check:checked + .form-request__agree::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 3px;
    width: 15px;
    height: 11px;
    background-image: url(../img/check.svg);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat; }

.advantages {
  padding: 44px 20px 10px;
  background-image: url("../img/advantages--xs.jpg");
  background-position: top center;
  background-position-y: -70px;
  background-size: 100%;
  background-repeat: no-repeat; }
  .advantages__header {
    margin-bottom: 28px;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase; }
  .advantages__list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .advantages__item {
    position: relative;
    height: 190px;
    margin-bottom: 20px;
    padding: 40px 25px 0 30px;
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 25px rgba(0, 71, 148, 0.08);
            box-shadow: 0px 1px 25px rgba(0, 71, 148, 0.08); }
    .advantages__item::before {
      content: '';
      position: absolute;
      left: 0;
      top: 17px;
      width: 80px;
      height: 2px;
      background-color: #DC1635; }
  .advantages__title {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600; }

.about {
  padding: 20px 20px 50px 20px; }
  .about__header {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase; }
  .about__img img {
    width: calc(100% + 20px);
    max-width: calc(100% + 20px);
    margin-right: -20px; }
  .about__lead {
    margin-bottom: 35px; }
    .about__lead p {
      margin-bottom: 20px; }

.contacts {
  padding: 43px 20px 60px;
  background-color: #F9F9F9; }
  .contacts__header {
    margin-bottom: 20px;
    font-size: 23px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase; }
  .contacts__lead {
    margin-bottom: 15px; }
  .contacts__list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .contacts__item {
    margin-bottom: 15px; }
  .contacts__title {
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 31px;
    font-weight: 500;
    text-transform: uppercase; }
  .contacts__text {
    display: block;
    font-size: 13px;
    line-height: 20px; }
    .contacts__text a {
      text-decoration: none;
      color: inherit; }

.form-feedback {
  padding: 22px 0 0; }
  .form-feedback input::-webkit-input-placeholder,
  .form-feedback textarea::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.7); }
  .form-feedback input::-ms-input-placeholder,
  .form-feedback textarea::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.7); }
  .form-feedback input::placeholder,
  .form-feedback textarea::placeholder {
    color: rgba(0, 0, 0, 0.7); }
  .form-feedback__header {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase; }
  .form-feedback__item {
    margin-bottom: 20px; }
    .form-feedback__item:nth-of-type(4) {
      margin-bottom: 25px; }
    .form-feedback__item:nth-of-type(5) {
      margin-bottom: 34px; }
    .form-feedback__item:last-of-type {
      margin-bottom: 28px; }
  .form-feedback__name, .form-feedback__phone, .form-feedback__mail {
    width: 100%;
    padding: 4px 14px 4px 18px;
    font-size: 13px;
    line-height: 30px; }
  .form-feedback__message {
    width: 100%;
    height: 120px;
    resize: none;
    padding-left: 15px;
    font-size: 13px;
    line-height: 28px; }
  .form-feedback__clip {
    margin-right: 3px; }
  .form-feedback__text {
    font-size: 13px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.7); }
  .form-feedback__check {
    display: none; }
  .form-feedback__agree {
    position: relative;
    display: block;
    padding-left: 30px;
    font-size: 10px;
    line-height: 10px;
    color: #4D4D4D; }
    .form-feedback__agree a {
      color: #4D4D4D; }
    .form-feedback__agree::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      background-color: #fff; }
  .form-feedback__check:checked + .form-feedback__agree::before {
    background-color: #DC1635; }
  .form-feedback__check:checked + .form-feedback__agree::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 3px;
    width: 15px;
    height: 11px;
    background-image: url(../img/check.svg);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat; }

/*# sourceMappingURL=style.css.map */
