mixin slider()
  section.slider
    div.slider__item
      picture.slider__img
        source(srcset='/img/main-1--xs.webp' type='image/webp')
        img(src='/img/main-1--xs.jpg')
      div.slider__wrapper
        h2.slider__header Рым-болт для такелажных работ
        p.slider__lead Высокопрочный оцинкованный рым-болт DIN 580 для всех видов такелажных работ.
        a.button.slider__button(href="#") Смотреть каталог
    div.slider__item
      picture.slider__img
        img(src='/img/main-1--xs.jpg')
      div.slider__wrapper
        h2.slider__header ШУРУП ДЛЯ СТРОЙКИ И МОНТАЖА
        p.slider__lead Высокопрочный оцинкованный шуруп  DIN 97 с плоской головкой.
        a.button.slider__button(href="#") Смотреть каталог
    div.slider__item
      picture.slider__img
        img(src='/img/main-1--xs.jpg')
      div.slider__wrapper
        h2.slider__header БОЛТ ДЛЯ ПРОИЗВОДСТВА
        p.slider__lead Качественный болт с шестигранной головкой и полной резьбой DIN 933.
        a.button.slider__button(href="#") Смотреть каталог
