// В этом файле должны быть стили для БЭМ-блока about, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.about {

  $block-name:                &; // #{$block-name}__element

  padding: 20px 20px 50px 20px;

  &__header {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__img {
    img {
      width: calc(100% + 20px);
      max-width: calc(100% + 20px); //нужно, чтобы компенсировать отступ на картинке
      margin-right: -20px;
    }
  }

  &__lead {
    margin-bottom: 35px;

    p {
      margin-bottom: 20px;
    }
  }

}
