// В этом файле должны быть стили для БЭМ-блока calculate, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.calculate {

  $block-name:                &; // #{$block-name}__element

  margin-top: -10px;
  //padding: 30px 20px;
  padding: 18px;
  background-color: #F9F9F9;

  @media (min-width: $screen-sm) {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 80px;
    padding-top: 47px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #ffffff;
    box-shadow: 0px 1px 25px rgba(0, 71, 148, 0.08);
  }

  &__body {
    width: 100%;

    @media (min-width: $screen-sm) {
      margin-bottom: 5px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__type {
    margin-bottom: 11px;

    @media (min-width: $screen-sm) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 28px;
    }

    &:last-of-type{
      margin-bottom: 20px;
    }

    select,
    input {
      width: 100%;
      padding: 6px 5px 5px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 0;
      background-color: #fff;
      font-size: 12px;

      @media (min-width: $screen-sm) {
        //width: 65%;
        padding-top: 11px;
        padding-bottom: 11px;
        padding-left: 11px;
      }
    }

    p {
      @media (min-width: $screen-sm) {
        width: 148px;
      }
    }
  }

  &__label {
    font-size: 8px;
    line-height: 27px;
    color: #767676;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
      font-size: 9px;
      line-height: 30px;
    }
  }

  &__button {

    @media (min-width: $screen-sm) {
      text-align: right;
      padding-right: 0;
    }
  }

  &__add {
    position: relative;
    padding-left: 17px;
    font-size: 9px;
    line-height: 30px;


    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 10px;
      width: 10px;
      height: 10px;
      background-image: url(../img/add.svg);
      background-size: 10px 10px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__result {
    padding: 38px 2px 16px;
    border-top: 1px solid rgba(0, 71, 148, 0.1);
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;

    @media (min-width: $screen-sm) {
      width: calc(100% + 120px);
      margin-left: -60px;
      margin-right: -60px;
      padding-top: 33px;
      padding-left: 60px;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__count {
    padding-left: 10px;

    @media (min-width: $screen-sm) {
      padding-left: 72px;
      text-transform: none;
    }
  }

  &__weight {
    padding-left: 20px;

    @media (min-width: $screen-sm) {
      padding-left: 25px;
      text-transform: none;
    }
  }

}
