// В этом файле должны быть стили для БЭМ-блока form-consult, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.form-consult {

  $block-name:                &; // #{$block-name}__element

  padding: 40px 20px 50px;
  background-color: $main-color;

  @media (min-width: $screen-sm) {
    margin-left: 50px;
    margin-right: 50px;
    padding: 54px 60px 60px;
  }

  &--white {
    background-color: #fff;

    @media (min-width: $screen-sm) {
      padding-top: 36px;
      padding-left: 0;
    }

    #{$block-name}__name,
    #{$block-name}__phone {
      border: 1px solid #E7E7E7;

      @media (min-width: $screen-sm) {
        max-width: 460px;
      }
    }


    #{$block-name}__header {
      @media (min-width: $screen-sm)  {
        font-size: 18px;

      }
    }
  }

  &--delivery {

    @media (min-width: $screen-sm) {
      padding-top: 42px;
      padding-left: 0;
      background-color: #fff;
    }

    #{$block-name}__name,
    #{$block-name}__phone {

      @media (min-width: $screen-sm) {
        border: 1px solid #E7E7E7;
        max-width: 460px;
      }
    }

    #{$block-name}__header {

      @media (min-width: $screen-sm)  {
        font-size: 18px;
      }
    }
  }

  &__header {
    margin-bottom: 6px;
    font-size: 15px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
      margin-bottom: 10px;
      font-size: 21px;
    }
  }

  &__lead {
    margin-bottom: 23px;

    @media (min-width: $screen-sm) {
      width: 50%;
      font-size: 13px;
    }
  }

  &__item {
    margin-bottom: 20px;

    &::last-of-type {
      margin-bottom: 26px;
    }
  }

  &__name,
  &__phone {
    width: 100%;
    padding: 4px 10px 6px 6px;
    font-size: 13px;
    line-height: 28px;
  }

  &__button {
    @media (min-width: $screen-sm) {
      margin-top: 27px;
      margin-left: 0;
      max-width: 140px;
    }
  }

}
