mixin advantages-list()
  section.advantages-list
    h3.advantages-list__header Преимущества
    ul.advantages-list__list
      li.advantages-list__item
        h4.advantages-list__title ОБРАБАТЫВАЕМ ЗАКАЗ ЗА ЧАС
        p.advantages-list__lead Перезвоним и проконсультируем по каталогу, условиям работы и срокам доставки.
      li.advantages-list__item
        h4.advantages-list__title ПРОГРАММА ЛОЯЛЬНОСТИ
        p.advantages-list__lead Система скидок для постоянных оптовых клиентов.
      li.advantages-list__item
        h4.advantages-list__title ДОСТАВИМ В УДОБНОЕ ВРЕМЯ
        p.advantages-list__lead По Санкт-Петербургу и пригородам бесплатная доставка от 3 000 р. А по России — от 30 000 р.
      li.advantages-list__item
        h4.advantages-list__title ЛИЦЕНЗИИ И СЕРТИФИКАТЫ
        p.advantages-list__lead Продукция сертифицирована и соответствует стандартам ГОСТ и DIN.
