mixin advantages-list()
  section.advantages-list
    h3.advantages-list__header Преимущества
    ul.advantages-list__list
      li.advantages-list__item
        h4.advantages-list__title Оперативность
        p.advantages-list__lead Обработка заказа в течение часа. Проконсультируем по каталогу продукции, условиям работы  и срокам доставки.
      li.advantages-list__item
        h4.advantages-list__title Система скидок
        p.advantages-list__lead Программа лояльности  для постоянных оптовых клиентов.
      li.advantages-list__item
        h4.advantages-list__title Быстрая доставка
        p.advantages-list__lead По Санкт-Петербургу и пригороду бесплатная доставка от 4 000 р. Доставка по России от 30 000 р. 
      li.advantages-list__item
        h4.advantages-list__title Гарантия качества
        p.advantages-list__lead Вся продукция сертифицирована и соответствует стандартам ГОСТ и DIN.
