// В этом файле должны быть стили для БЭМ-блока advantages-list, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.advantages-list {

  $block-name:                &; // #{$block-name}__element

  padding: 0 20px 10px;

  @media (min-width: $screen-sm) {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 32px;
  }

  &__header {
    margin-bottom: 28px;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
      font-size: 26px;
      line-height: 39px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: space-between;
    }
  }

  &__item {
    position: relative;
    height: 190px;
    margin-bottom: 20px;
    padding: 40px 25px 0 30px;
    background-color: #fff;
    box-shadow: 0px 1px 25px rgba(0, 71, 148, 0.08);

    @media (min-width: $screen-sm) {
      width: calc(50% - 15px);
      height: auto;
      margin-bottom: 29px;
      padding: 0 0 0 70px;
      box-shadow: none;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 17px;
      width: 80px;
      height: 2px;
      background-color: $warning-color;

      @media (min-width: $screen-sm) {
        top: 12px;
        width: 50px;
      }
    }
  }

  &__title {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;

    @media (min-width: $screen-sm) {
      margin-bottom: 8px;
      font-size: 18px;
      line-height: 30px;
    }
  }

  &__lead {

    @media (min-width: $screen-sm) {
      max-width: 270px;
    }
  }

}
