mixin category()
  section.category
    ul.category__list
      li.category__item
        +card('DIN 316', 'din-316', 'Винт-барашек c округленными лепестками')
      li.category__item
        +card('DIN 417', 'din-316', 'Винт установочный цилиндрическим концом')
      li.category__item
        +card('DIN 438', 'din-316', 'Винт установочный c прямым шлицем и внутренним конусом')
      li.category__item
        +card('DIN 480', 'din-316', 'Винт с квадратной головкой, буртиком и закругленным концом')
