mixin item()
  section.item
    h2.item__header DIN 316
    h3.item__subheader Винт-барашек с округлыми лепестками
    picture
      img.item__img(src='img/din-316.png')
    table.item__parameters
      tr.item__parameter
        td.item__label Материал
        td.item__value Латунь, сталь А2, сталь А4
      tr.item__parameter
        td.item__label Класс прочности
        td.item__value 4.6
      tr.item__parameter
        td.item__label Покрытие
        td.item__value Без покрытия, цинк, никель
    div.item__lead
      p Винт-барашек - резьбовой крепеж для создания разъемных соединений, требующих быстрой сборки-разборки. Установка может быть осуществлена вручную.
