// В этом файле должны быть стили для БЭМ-блока footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.footer {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.08);
  z-index: 1;

  @media (min-width: $screen-sm) {
    max-width: unset;
  }

  &__wrapper {
    display: flex;
    width: 50%;
    padding-left: 30px;

    @media (min-width: $screen-sm) {
      padding-left: 40px;
      width: 20%;
    }
  }

  &__info {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 40%;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.55);

    @media (min-width: $screen-sm) {
      display: none;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__menu {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (min-width: $screen-sm) {
      width: 80%;
      padding-right: 40px;
      display: flex;
    }
  }

  &__link {
    a {
      font-size: 10px;
      line-height: 12px;
      font-weight: 500;
      color: #000;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  &__copy {
    width: 100%;
    margin-top: 15px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    text-align: center;
    font-size: 10px;
    color: #7F7F7F;
  }

  &__link {
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
    font-size: 10px;
    line-height: 2;
    color: rgba(0, 0, 0, 0.55);
  }

  &__masters {
    width: 100%;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
    font-size: 9px;
    line-height: 10px;
    color: rgba(0, 0, 0, 0.55);

    svg {
      margin-left: 3px;
      padding-top: 6px;
    }
  }

}
