// В этом файле должны быть стили для БЭМ-блока information, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.information {

  $block-name:                &; // #{$block-name}__element

  padding: 50px 20px 60px;

  @media (min-width: $screen-sm) {
    padding-top: 55px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }

  @media (min-width: $screen-md) {
    padding-top: 85px;
    padding-bottom: 40px;
    grid-template-rows: 79px auto;
  }

  &--production {
    padding-top: 65px;
    padding-bottom: 20px;
    background-color: rgba(243, 243, 243, 0.5);
    background-image: url('../img/back.png');
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-width: $screen-sm) {
      padding-bottom: 40px;
      background-image: url('../img/back--sm.jpg');
      background-position: top right;
    }

    @media (min-width: $screen-md) {
      grid-template-rows: 125px auto;
      padding-top: 47px;
      padding-bottom: 80px;
    }

    #{$block-name}__img {
      img {
        margin-bottom: 20px;
      }

      @media (min-width: $screen-sm) {
        display: none;
      }
    }

    #{$block-name}__header {
      @media (min-width: $screen-sm) {
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 30px;
      }

      @media (min-width: $screen-md) {
        font-size: 32px;
        line-height: 45px;
        margin: 0;
      }
    }
  }

  &__header {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
      margin-bottom: 16px;
      grid-column: 1/2;
      font-size: 26px;
      line-height: 41px;
    }

    @media (min-width: $screen-md) {
      margin: 0;
      font-size: 34px;

    }
  }

  &__img {

    @media (min-width: $screen-sm) {
      grid-column: 2/3;
      grid-row: 1/4;
    }

    img {
      margin-bottom: 10px;

      @media (min-width: $screen-sm) {
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
  }

  &__lead {

    margin-bottom: 35px;

    @media (min-width: $screen-sm) {
      margin-bottom: 15px;
      grid-column: 1/2;
    }

    @media (min-width: $screen-md) {
      margin: 0;
      font-size: 16px;
      line-height: 25px;
    }

    p {
      margin-bottom: 20px;

      @media (min-width: $screen-md) {
        margin-bottom: 24px;
      }
    }
  }

  &__button {

    @media (min-width: $screen-sm) {
      margin-left: 0;
      grid-column: 1/2;
      width: 180px;
      height: 40px;
      font-size: 16px;
      line-height: 25px;
      font-weight: 400;
    }

    @media (min-width: $screen-md) {
      margin-top: -20px;
    }

  }

}
