mixin information()
  section.information
    h3.information__header СОБСТВЕННОЕ ПРОИЗВОДСТВО
    picture.information__img
      source(srcset='/img/development.webp' type='image/webp')
      img(src='/img/development.jpg')
    div.information__lead
      p Производим десятки разновидностей крепежа и метизов. Специалисты компании изучают новые технологии  и отслеживают изменения покупательского спроса.
      p Ассортимент постоянно расширяется и пополняется актуальными позициями.
    a.information__button.button(href="#") Подробнее
