// В этом файле должны быть стили для БЭМ-блока information, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.information {

  $block-name:                &; // #{$block-name}__element

  padding: 50px 20px 60px;

  &--production {
    padding-top: 65px;
    padding-bottom: 20px;
    background-color: rgba(243, 243, 243, 0.5);
    background-image: url('../img/back.png');
    background-size: cover;
    background-repeat: no-repeat;

    #{$block-name}__img {
      img {
        margin-bottom: 20px;
      }
    }
  }

  &__header {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
  }

  &__img {
    img {
      margin-bottom: 10px;
    }
  }

  &__lead {

    margin-bottom: 35px;

    p {
      margin-bottom: 20px;
    }
  }

}
