// В этом файле должны быть стили для БЭМ-блока form-request, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.form-request {

  $block-name:                &; // #{$block-name}__element

  padding: 37px 20px 60px;
  background-color: #F9F9F9;

  @media (min-width: $screen-sm) {
    padding: 57px 50px 60px;
  }

  @media (min-width: $screen-md) {
    padding-top: 24px;
    background-color: #fff;
  }

  input::placeholder,
  textarea::placeholder {
    color: rgba(0, 0, 0, 0.7);
  }

  &--white,
  &--catalog {
    background-color: #fff;

    #{$block-name}__name,
    #{$block-name}__phone,
    #{$block-name}__mail,
    #{$block-name}__message {
      border: 1px solid #E7E7E7;
    }
  }

  &--striped {
    background-image: url('../img/back-small.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;

    @media (min-width: $screen-sm) {
      padding-top: 50px;
      background-image: url('../img/back--sm.svg');
    }

    #{$block-name}__header {

      @media (min-width: $screen-sm) {
        font-size: 26px;
        line-height: 39px;
      }
    }

    #{$block-name}__lead {
      @media (min-width: $screen-sm) {
        padding-top: 7px;
      }
    }

    #{$block-name}__item {
      &:nth-of-type(4) {

        @media (min-width: $screen-sm) {
          margin-bottom: 25px;
        }
      }

      &:last-of-type {

        @media (min-width: $screen-sm) {
          margin-top: 36px;
        }
      }
    }
  }

  &--calculate {
    background-color: #fff;

    #{$block-name}__name,
    #{$block-name}__phone,
    #{$block-name}__mail,
    #{$block-name}__message {
      border: 1px solid #E7E7E7;
    }

    @media (min-width: $screen-sm) {
      background-color: #F9F9F9;

      #{$block-name}__name,
      #{$block-name}__phone,
      #{$block-name}__mail,
      #{$block-name}__message {
        border-color: #ffffff;
      }
    }
  }

  &__header {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
      margin-bottom: 25px;
      font-size: 28px;
      line-height: 41px;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 42px;
      font-size: 35px;
    }
  }

  &__wrapper {
    @media (min-width: $screen-sm) {
      display: grid;
      grid-template-columns: 1.4fr 1fr;
      grid-template-rows: auto;
      grid-column-gap: 20px;
    }

    @media (min-width: $screen-md) {
      padding: 70px 40px 70px 38px;
      box-shadow: 0px 1px 25px rgba(0, 71, 148, 0.08);
    }
  }

  &__lead {
    margin-bottom: 20px;

    @media (min-width: $screen-sm) {
      grid-column: 2/3;
      grid-row: 1/2;
    }

    &--main {
      display: none;

      @media (min-width: $screen-sm) {
        display: block;

        p:first-of-type {
          margin-bottom: 19px;
        }
      }
    }

    p {
      font-size: 14px;
      line-height: 20px;

      @media (min-width: $screen-sm) {
        font-size: 13px;
        line-height: 20px;
      }
    }
  }

  &__body {
    @media (min-width: $screen-sm) {
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }

  &__item {
    margin-bottom: 20px;

    @media (min-width: $screen-sm)  {
      margin-bottom: 15px;
    }

    &:nth-of-type(4) {
      margin-bottom: 4px; // другой нижний отступ перед прикреплением файла

      @media (min-width: $screen-sm) {
        margin-bottom: 50px;
      }
    }

    &:last-of-type {
      margin-bottom: 32px; // другой нижний отступ перед  согласием

      @media (min-width: $screen-sm) {
        margin-top: 48px;
        margin-bottom: 19px;
      }
    }

  }

  &__name,
  &__mail,
  &__phone {
    width: 100%;
    padding: 6px 14px 5px 14px;
    font-size: 13px;
    line-height: 28px;
  }

  &__message {
    width: 100%;
    height: 120px;
    resize: none;
    padding-left: 15px;
    font-size: 13px;
    line-height: 28px;

    @media (min-width: $screen-sm) {
      height: 140px;
    }
  }

  &__clip {
    margin-right: 3px;

    @media (min-width: $screen-sm) {
      width: 20px;
      height: 20px;
      margin-bottom: -5px;
    }
  }

  &__text {
    font-size: 13px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.7);

    @media (min-width: $screen-sm) {
      font-size: 14px;
    }
  }

  &__check {
    display: none;
  }

  &__agree {
    position: relative;
    display: block;
    padding-left: 30px;
    font-size: 10px;
    line-height: 10px;
    color: #4D4D4D;

    @media (min-width: $screen-sm) {
      font-size: 12px;
      line-height: 15px;
    }

    a {
      color: #4D4D4D;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      background-color: #fff;
    }
  }

  &__check:checked + &__agree::before {
    background-color: $warning-color;
  }

  &__check:checked + &__agree::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 3px;
    width: 15px;
    height: 11px;
    background-image: url(../img/check.svg);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
  }

  &__button {
    @media (min-width: $screen-sm) {
      margin-left: 0;
      max-width: 400px;
    }
  }
}
