mixin advantages()
  section.advantages
    h3.advantages__header Преимущества
    ul.advantages__list
      li.advantages__item
        h4.advantages__title Оперативность
        p.advantages__lead Обработка заказа в течение часа. Проконсультируем по каталогу продукции, условиям работы  и срокам доставки.
      li.advantages__item
        h4.advantages__title Система скидок
        p.advantages__lead Программа лояльности  для постоянных оптовых клиентов.
      li.advantages__item
        h4.advantages__title Быстрая доставка
        p.advantages__lead По Санкт-Петербургу и пригороду бесплатная доставка от 4 000 р. Доставка по России от 30 000 р. 
      li.advantages__item
        h4.advantages__title Гарантия качества
        p.advantages__lead Вся продукция сертифицирована и соответствует стандартам ГОСТ и DIN.
