extends templates/layout-home.pug

block meta
  title Метиз Энерго сервис
  meta(name='Метиз Энерго сервис', content='')

block header
  +header()

block page
  +lead('О компании', 'about', '<p>Производим и продаем метизы с 2015 года: за это время построили отношения с крупными предприятиями строительной, электромонтажной и транспортной отраслей.</p><p>Выпускаем все виды крепежа по стандартам ГОСТ и DIN, обеспечиваем доставку до двери в оговоренный срок и делаем скидки постоянным клиентам.</p>')
  +advantages-list()
  +form-consult()
  +information('СОБСТВЕННОЕ ПРОИЗВОДСТВО', 'main', 'development', '<p>Производим десятки разновидностей крепежа и метизов. Специалисты компании изучают новые технологии и отслеживают изменения покупательского спроса.</p><p>Ассортимент постоянно расширяется и пополняется актуальными позициями.</p>')
  +form-request('Оформить заявку', 'main')

block footer
  +footer()
