extends templates/layout-home.pug

block meta
  title Метиз Энерго сервис
  meta(name='Метиз Энерго сервис', content='')

block header
  +header()

block page

  +lead('Калькулятор крепежа', 'calculate', '<p>Оптовые компании продают метизы по весу. Проблема в том, что при планировании любых работ рассчитывают не вес, а количество деталей крепежа. Для удобства мы сделали калькулятор: он переводит штуки в килограммы. Можно выбрать любой вид изделия из тех, что мы продаем</p><p>Данные для рассчета берем из стандартов ГОСТ, DIN, ТУ. Обратите внимание: счетчик выдает только примерную информацию. Чтобы получить точные цифры, напишите или позвоните нам</p>')
  +calculate()
  +form-request('Оформить заявку', 'white')


block footer
  +footer()
