extends templates/layout-home.pug

block meta
  title Метиз Энерго сервис
  meta(name='Метиз Энерго сервис', content='')

block header
  +header()

block page
  +lead('Каталог продукции', 'catalog', '<p>Мы постоянно пополняем ассортимент метизов и отражаем это в каталоге. Все варианты крепежа создаем строго по стандартам ГОСТ и DIN на собственном производстве, а потому гарантируем высокое качество.</p><p>Наши консультанты помогут разобраться в ассортименте и составить заказ.</p>')
  +catalog('')
  +form-consult()


block footer
  +footer()
