extends templates/layout-home.pug

block meta
  title Метиз Энерго сервис
  meta(name='Метиз Энерго сервис', content='')

block header
  +header()

block page
  +slider()
  +catalog('Каталог продукции')
  +form-consult('main')
  +information('СОБСТВЕННОЕ ПРОИЗВОДСТВО', 'main', 'development', '<p>Производим десятки разновидностей крепежа и метизов. Специалисты компании изучают новые технологии и отслеживают изменения покупательского спроса.</p><p>Ассортимент постоянно расширяется и пополняется актуальными позициями.</p>')
  +form-request('Оформить заявку', 'main')
  +advantages()
  +about('main')
  +contacts('main')


block footer
  +footer()
