//- Подключение примесей

include blocks/main-nav/main-nav.pug
include blocks/header/header.pug
include blocks/footer/footer.pug
include blocks/slider/slider.pug
include blocks/catalog/catalog.pug
include blocks/information/information.pug
include blocks/form-consult/form-consult.pug
include blocks/form-request/form-request.pug
include blocks/advantages/advantages.pug
include blocks/about/about.pug
include blocks/contacts/contacts.pug
include blocks/another/another.pug
include blocks/advantages-list/advantages-list.pug
include blocks/delivery/delivery.pug
include blocks/form-feedback/form-feedback.pug
include blocks/calculate/calculate.pug
include blocks/button/button.pug
include blocks/lead/lead.pug
include blocks/category/category.pug
include blocks/card/card.pug
include blocks/item/item.pug
