extends templates/layout-home.pug

block meta
  title Метиз Энерго сервис
  meta(name='Метиз Энерго сервис', content='')

block header
  +header()

block page
  +lead('Производство метизов', 'production', '<p>Наши специалисты на производстве постоянно учатся и осваивают новые технологии, а менеджеры анализируют потребности покупателей — благодаря этому список крепежа расширяется.</p><p>Гарантируем качество продукции. Проводим тесты, входной, выходной контроль: от поступления металлов до проверки готовой партии.</p>')
  +form-consult('white')
  +information('КРЕПЕЖ ПО ИНДИВИДУАЛЬНЫМ ПРОЕКТАМ', 'production', 'production', '<p>Если вы не нашли в списке товаров нужного крепежа, мы изготовим его по вашим чертежам или эскизам - просто прикрепите их к заявке. Если чертежей нет, подробно опишите изделие, чтобы технологи составили чертеж и создали именно то, что нужно.</p>')
  +form-request()
  +about('production')

block footer
  +footer()
