mixin header()
  section.header
    button Menu
    a.header__wrapper.header__wrapper(href='/')
        svg.header__logo(width="120", height="47")
          use(xlink:href="img/sprite-svg.svg#logo")
    button Search
