mixin delivery()
  section.delivery
    h2.delivery__header Доставка
    p.delivery__lead Наши логисты подбирают оптимальный вариант для каждого случая и контролируют, чтобы вы получили заказ вовремя. Качественная упаковка гарантирует, что при транспортировке не потеряются даже самые мелкие детали.
    ul.delivery__list
      li.delivery__item
        h4.delivery__title Доставка по Санкт-Петербургу
        p.delivery__text Бесплатная доставка при заказе от 3 000 р.
      li.delivery__item
        h4.delivery__title Доставка по России
        p.delivery__text Бесплатная доставка при заказе от 30 000 р.
    div.delivery__wrapper
      h3.delivery__subheader ДОСТАВКА В РЕГИОНЫ
      p.delivety__lead Сотрудничаем только с надежными перевозчиками — это обеспечивает высокое качество доставки. После оформления заказа менеджер свяжется с вами, чтобы подобрать компанию, уточнить сроки и согласовать стоимость.
      iframe( src="https://widgets.dellin.ru/calculator/?derival_to_door=on&arrival_to_door=off&disabled_calculation=off&insurance=0&package=1" width="332" height="370" scrolling="no" frameborder="0")
</iframe>
